<form method="POST" action="/recipes">

    <label>Name</label> <input name="name" type="text"><br>
    <label>Ingredients</label> <input name="ingredients" type="text"><br>
    <label>Cook Time</label> <input name="cook_time" type="text"><br>

    <input name="submit" type="submit">

</form>